.prv_centering_container {
  margin: 0 auto;
  /*display: block;*/
}

.prv_centered_div {
  display: inline-block;
  width: 50%;
}

h1.prv_header {
  font-size: 30px;
  text-align: center;
}

.prv_container {
  text-align: center;
}